<div class="tarjeta">
    <div>
        <p>Bienvenido a tu perfil {{user.email}} </p>
    </div>
    <div class="perfil">
        <strong>id</strong> : {{user._id}} <br>
        <strong>email:</strong> : {{user.email}} <br>
        <strong>password</strong> : {{user.password}}
    </div>
</div>