<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="navbar">
      <a href="/"><button>Inicio</button></a>
      <a href="/noticias"><button>Noticias</button></a>
      <a href="/nosotros"><button>Nosotros</button></a>
      <a href="/contacto"><button>Contacto</button></a>
  </div>
  {{{body}}}
</body>

</html>