<div>
    <div class="tarjeta">
        <p>Bienvenido a tus Noticias {{user.email}} </p>
        <div class="boton">
            <a href="notes/add"><button>Crear</button></a>
            <a href="notes/edit-note"><button>Modificar</button></a>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium delectus quaerat quibusdam distinctio
                fuga mollitia exercitationem repellat nihil? Nisi itaque nostrum reprehenderit nobis ipsa ab dicta,
                ipsum est commodi suscipit.</p>
        </div>
    </div>